extends ../main.pug

block content
    h2 Update Video
    form(method="post")
        input(
            value=videoDB.title,
            type="text",
            placeholder="New Title",
            name="title",
            maxlength="80",
            required
        )
        input(
            value=videoDB.description,
            type="text",
            placeholder="New Description",
            name="description",
            minlength="20",
            maxlength="140"
        )
        input(
            value=videoDB.hashtags.join(),
            type="text",
            placeholder="New Hashtags, separated by comma.",
            name="hashtags"
        )
        input(value="Save", type="submit")

//-     /editVideoController\             main.pug
//-     --------------------------            ^
//-    |                          |           ^
//-    | res.render('edit-video') | > > edit-video.pug
//-    |                          |
//-     --------------------------
