extends ../main.pug
include ../mixins/avatar-mixin.pug
include ../mixins/comment-mixin.pug

block content
    .watch-video
        #video-container(data-video-id=videoDB.id)
            if isHeroku
                video(src=videoDB.videoUrl, crossorigin)
            else
                video(src=`/${videoDB.videoUrl}`)
            #video-controls.video-controls
                .video-controls__top
                    input#timeline.video-controls__timeline(
                        value="0",
                        type="range",
                        step="1",
                        min="0",
                        autocomplete="off"
                    )
                .video-controls__bottom
                    .video-controls__bottom-left
                        #play.video-controls__play-btn
                            i.fas.fa-play
                        #mute.video-controls__mute-btn
                            i.fas.fa-volume-up
                        input#volume.video-controls__volume(
                            value="0.5",
                            type="range",
                            step="0.1",
                            min="0",
                            max="1",
                            autocomplete="off"
                        )
                        .video-controls__time
                            span#current-time 0:00
                            span &nbsp;/&nbsp;
                            span#total-time 0:00
                    .video-controls__bottom-right
                        #full-screen.video-controls__full-screen
                            i.fas.fa-expand
        .watch-video__data
            .watch-video__data-top
                each hashtag in videoDB.hashtags
                    a.watch-video__hashtags= hashtag
                    span &nbsp;
                h1.watch-video__title= videoDB.title
                .watch-video__etc
                    small.watch-video__views #{ videoDB.meta.views }회&nbsp;•&nbsp;
                    small.watch-video__createdAt= new Date(videoDB.videoCreatedAt).toLocaleDateString('ko-kr', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
            .watch-video__data-bottom
                //- small.watch-video__owner-name Uploaded by&nbsp;
                .watch-video__owner
                    a(href=`/users/${videoDB.videoOwner._id}`)
                        +avatarMixin(videoDB.videoOwner.avatarUrl, "video")
                    a(href=`/users/${videoDB.videoOwner._id}`)
                        span= videoDB.videoOwner.userName
                p.watch-video__description= videoDB.description
                if String(videoDB.videoOwner._id) === String(loggedInUser._id)
                    a(href=`${videoDB.id}/edit`) Edit Video &rarr;
                    br
                    a(href=`${videoDB.id}/delete`) Delete Video &rarr;
        .watch-video__comment
            form#comment-form.watch-video__comment-form
                .watch-video__comment-left
                    a(href=`/users/${loggedInUser._id}`)
                        +avatarMixin(loggedInUser.avatarUrl, "comment")
                .watch-video__comment-right
                    textarea#comment-textarea(
                        cols="30",
                        rows="10",
                        name="commentText",
                        placeholder="Write a comment...",
                        required
                    )
                    button Add Comment
            .watch-video__comments
                ul
                    each item in videoDB.videoComments.reverse()
                        +commentMixin(item)

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")
    else
        script(src="/static/js/loggedOutComment.js")

//-     /watchVideoController\             main.pug
//-     ---------------------------            ^
//-    |                           |           ^
//-    | res.render('watch-video') | > > watch-video.pug
//-    |                           |
//-     ---------------------------
