extends layouts/main

block content
    .video-player
        video(src='/'+video.fileUrl)
    .video-info
        a(href=routes.editVideo(video.id)) Edit video
        h1.video-info__title=video.title
        span.video-info__views=video.views
        p.video-info__description=video.description
    .video-comments
        if video.comments.length === 1
            span.video-comments__comment-number 1 comment
        else
            span.video-comments__comment-number #{video.comments.length} comments