extends layouts/main

block content
    .video-container
        .video-player
            video(src='/'+video.fileUrl)
        .video-info
            a(href=routes.editVideo(video.id))
                button Edit video
            h1.video-info__title=video.title
            p.video-info__description=video.description
            if video.views === 1
                span.video-info__views 1 view
            else
                span.video-info__views #{video.views} views
        .video-comments
            if video.comments.length === 1
                span.video-comments__comment-number 1 comment
            else
                span.video-comments__comment-number #{video.comments.length} comments