mixin videoMixin(itemData)
    a.video-mixin(href=`/videos/${itemData.id}`)
        .video-mixin__thumb
            if itemData.thumbnailUrl
                if isHeroku
                    img(src=itemData.thumbnailUrl, crossorigin)
                else
                    img(src=`/${itemData.thumbnailUrl}`)
        //- each hashtag in itemData.hashtags
        //-     span= hashtag
        .video-mixin__info
            span.video-mixin__title= itemData.title
            .video-mixin__meta
                span #{ itemData.videoOwner.userName }&nbsp;•&nbsp;
                span #{ itemData.meta.views }회
        //- small= itemData.videoCreatedAt
        //- p= itemData.description
        //- hr

//- text ===> #{}
//- attribute (ex. href, class, id) ===> `${}`
