mixin videoMixin(info)
    div
        each hashtag in info.hashtags
            span= hashtag
        h3
            a(href=`/videos/${info.id}`)= info.title
        small= info.createdAt
        p= info.description
        hr

//- text ===> #{}
//- attribute (ex. href, class, id) ===> `${}`
