mixin videoMixin(itemData)
    a.video-mixin(href=`/videos/${itemData.id}`)
        .video-mixin__thumb
        //- each hashtag in itemData.hashtags
        //-     span= hashtag
        .video-mixin__info
            span.video-mixin__title= itemData.title
            .video-mixin__meta
                span #{ itemData.videoOwner.userName }&nbsp;•&nbsp;
                span #{ itemData.meta.views }회
        //- small= itemData.videoCreatedAt
        //- p= itemData.description
        //- hr

//- text ===> #{}
//- attribute (ex. href, class, id) ===> `${}`
