mixin videoMixin(info)
    a.video-mixin(href=`/videos/${info.id}`)
        .video-mixin__thumb
        //- each hashtag in info.hashtags
        //-     span= hashtag
        .video-mixin__info
            span.video-mixin__title= info.title
            .video-mixin__meta
                span #{ info.owner.userName }&nbsp;•&nbsp;
                span #{ info.meta.views } 회
        //- small= info.createdAt
        //- p= info.description
        //- hr

//- text ===> #{}
//- attribute (ex. href, class, id) ===> `${}`
