extends ./main.pug

block content
    video(src=`/${video.videoUrl}`, width="640", controls)
    div
        small= video.createdAt
    div
        small Uploaded by&nbsp;
            a(href=`/users/${video.owner._id}`)= video.owner.userName
    div
        p= video.description
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;

//-     /watchVideoController\             main.pug
//-     ---------------------------            ^
//-    |                           |           ^
//-    | res.render('watch-video') | > > watch-video.pug
//-    |                           |
//-     ---------------------------
