extends ./main.pug

block content
    video(src=`/${video.videoUrl}`, width="640", controls)
    div
        p= video.description
        small= video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;

//-     /watchVideoController\             main.pug
//-     ---------------------------            ^
//-    |                           |           ^
//-    | res.render('watch-video') | > > watch-video.pug
//-    |                           |
//-     ---------------------------
