extends ./main.pug

block content
    #video-container
        video(src=`/${videoDB.videoUrl}`)
        #video-controls
            button#play Play
            button#mute Mute
            input#volume(
                value="0.5",
                type="range",
                step="0.1",
                min="0",
                max="1",
                autocomplete="off"
            )
            div
                span#currentTime 0:00
                span &nbsp;/&nbsp;
                span#totalTime 0:00
            div
                input#timeline(
                    value="0",
                    type="range",
                    step="1",
                    min="0",
                    autocomplete="off"
                )
            div
                button#full-screen Enter Full Screen
    //- div
    //-     small= videoDB.createdAt
    //- div
    //-     small Uploaded by&nbsp;
    //-         a(href=`/users/${videoDB.owner._id}`)= videoDB.owner.userName
    //- div
    //-     p= videoDB.description
    //- if String(videoDB.owner._id) === String(loggedInUser._id)
    //-     a(href=`${videoDB.id}/edit`) Edit Video &rarr;
    //-     br
    //-     a(href=`${videoDB.id}/delete`) Delete Video &rarr;

block scripts
    script(src="/static/js/videoPlayer.js")

//-     /watchVideoController\             main.pug
//-     ---------------------------            ^
//-    |                           |           ^
//-    | res.render('watch-video') | > > watch-video.pug
//-    |                           |
//-     ---------------------------
