extends ./main.pug

block content
    #video-container
        video(src=`/${videoDB.videoUrl}`)
        #video-controls.video-controls
            .video-controls__top
                input#timeline.video-controls__timeline(
                    value="0",
                    type="range",
                    step="1",
                    min="0",
                    autocomplete="off"
                )
            .video-controls__bottom
                //- .video-controls__play
                span#play.video-controls__play-btn
                    i.fas.fa-play
                //- .video-controls__mute
                span#mute.video-controls__mute-btn
                    i.fas.fa-volume-up
                input#volume(
                    value="0.5",
                    type="range",
                    step="0.1",
                    min="0",
                    max="1",
                    autocomplete="off"
                )
                .video-controls__time
                    span#currentTime 0:00
                    span &nbsp;/&nbsp;
                    span#totalTime 0:00
                span#full-screen
                    i.fas.fa-expand
    //- div
    //-     small= videoDB.createdAt
    //- div
    //-     small Uploaded by&nbsp;
    //-         a(href=`/users/${videoDB.owner._id}`)= videoDB.owner.userName
    //- div
    //-     p= videoDB.description
    //- if String(videoDB.owner._id) === String(loggedInUser._id)
    //-     a(href=`${videoDB.id}/edit`) Edit Video &rarr;
    //-     br
    //-     a(href=`${videoDB.id}/delete`) Delete Video &rarr;

block scripts
    script(src="/static/js/videoPlayer.js")

//-     /watchVideoController\             main.pug
//-     ---------------------------            ^
//-    |                           |           ^
//-    | res.render('watch-video') | > > watch-video.pug
//-    |                           |
//-     ---------------------------
