extends ../main.pug

block content
    if errorMessage
        span= errorMessage
    form(method="post")
        input(
            type="password",
            placeholder="Old Password",
            name="oldPassword",
            required
        )
        input(
            type="password",
            placeholder="New Password",
            name="newPassword",
            required
        )
        input(
            type="password",
            placeholder="Confirm New Password",
            name="confirmNewPassword",
            required
        )
        input(value="Change Password", type="submit")
